spring:
  application:
    name: hospital
  datasource:
    url: jdbc:mysql://localhost:3306/medical_management?createDatabaseIfNotExist=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8080
  servlet:
    context-path: /api
app:
  jwt:
    accessToken:
      secretKey: "your-very-long-and-secure-access-token-secret-1234567890"
      expiredTime: 3600000 # 1 giờ
    refreshToken:
      secretKey: "your-very-long-and-secure-refresh-token-secret-0987654321"
      expiredTime: 604800000 # 7 ngày
  account:
    admin:
      email: admin@gmail.com
      fullName: admin
      password: 123456
logging:
  level:
    root: INFO
    org:
      springframework:
        security: TRACE
      hibernate: INFO
 
